body {
    margin: auto;
    background-image: url("https://images.pexels.com/photos/1227511/pexels-photo-1227511.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    flex-direction: column;
    display: flex;
}
#photo {
   width: 700px;
   height: 500px;
   margin: auto;
   
}

#img-view {
    width: 850px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background: lightgray;
    position: relative;
    top: 250px;
}

#nav-back {
    background-image: url("http://stayathome-syllabus.greenfox.academy/week03/assets/arrow.svg");
    background-repeat: no-repeat;
    width: 80px;
    background-position: center;
    cursor: pointer;
    
}

#nav-forward {
    background-image: url("http://stayathome-syllabus.greenfox.academy/week03/assets/arrow.svg");
    background-repeat: no-repeat;
    width: 80px;
    background-position: center;
    transform: rotate(0.5turn);
    cursor: pointer;
}

#subbtitle {
    position: absolute;
    bottom: 30px;
    left: 180px;
    width: 500px;
    height: 100px;
    color: lightblue;

}
.thumbnails {
    position: relative;
    top: 60px;
    display: flex;
    margin: auto;  
}

#thumbnails-img {
    width: 120px;
    height: 80px;
    margin-top: 200px;
}

