body {
    margin: auto;
    background-image: url("https://images.pexels.com/photos/1227511/pexels-photo-1227511.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    flex-direction: column;
    display: flex;
}
#photo {
   width: 700px;
   height: 500px;
   margin: auto;
 
}

#img-view {
    width: 850px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #cecfca;
    position: relative;
    top: 250px;
    border-radius: 30px 30px 30px 30px;
}

#nav-back {
    background-image: url("http://stayathome-syllabus.greenfox.academy/week03/assets/arrow.svg");
    background-repeat: no-repeat;
    width: 80px;
    background-position: center;
    cursor: pointer;
    
}

#nav-back:hover, #nav-forward:hover {
    opacity: 0.5;
    
    
}

#nav-forward {
    background-image: url("http://stayathome-syllabus.greenfox.academy/week03/assets/arrow.svg");
    background-repeat: no-repeat;
    width: 80px;
    background-position: center;
    transform: rotate(0.5turn);
    cursor: pointer;
}

#subbtitle {
    position: absolute;
    bottom: 0px;
    left: 75px;
    width: 700px;
    height: 100px;
    color: lightblue;
    background: rgba(63, 78, 80, 0.61);  
}

#photo-description {
    position: absolute;
    bottom: -5px;
    top: 40px;
    left: 5px;
    right: 5px;  
};

h1 {
    position: absolute;
    bottom: 30px;
    
}

.thumbnails {
    position: relative;
    top: 250px;
    margin: auto;
    display: flex;    
}

.childDIV {
    margin-left: 10px;
    width: 100px;
    height: 100px;
    
}

#thumbnails-img {
    width: 100px;
    height: 100px;
    border: 2px solid ivory;
    border-radius: 30px 30px 30px 30px;
    cursor: grab;
    position: absolute;
    display: flex;
    top: 40px;
    
}


h2 {
    font-size: 20px;
    text-align: center;
    color: white;
    width: auto;
    height: 20px;
    background-color: black;
    border-radius: 15px 15px 15px 15px;
    display: none;
}

.childDIV:hover h2 {
  display: block;
  
}

.childDIV:hover {
    
    transform: scaleY(1.2);
    transform: scaleX(1.2); 
    
}

.childDIV:hover #thumbnails-img {
    transform:rotate(360deg);
    transition-duration: 0.1s;
    border: 4px solid darkred;
    opacity: 0.8;
}

