.one, .two, .tree, .four, .five, .six, .seven {
    font-size: 20px;
    width: 350px;
    height: 50px;
    font-weight: bold;  
    text-align: initial;
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    
}

.two, .tree, .four, .five, .six {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.one, .seven {
    border-left: 2px solid black;
    border-right: 2px solid rgb(150, 137, 137);
}
.seven {
    border-top: 2px solid black;
}

.container {
   display: flex; 
   flex-direction: column;
   margin-left: 60px;
   margin-top: 100px;
}

.four:hover {
    cursor: pointer;
    background-color: chocolate;
}
h1 {
font-size: 30px;
font-weight: bold;
margin-left: 60px;
}