h1 {
    font-size: 40px;
    margin-top: 50px;
}
h2 {
    font-size: 40px;
    padding: 30px;
}
#Increase {
    font-weight: bold;
    font-size: 20px;
}
#Decrease {
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

div {
    position: relative;
    display: flex;
    flex-direction: row;
    
}

body {
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}