.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10 {
    width: 50px;
    height: 50px;
    background-color: blue;
    margin: 10px;
}
.container {
    width: auto;
    display: flex;
    flex-direction: row;
    border: 3px solid blue;
    position: relative;
    align-items: initial;
    margin: auto;
    margin-top: 100px;
}

body {
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.sbox1, .sbox2, .sbox3, .sbox4, .sbox5, .sbox6, .sbox7, .sbox8, .sbox9, .sbox10 {
    width: 50px;
    height: 50px;
    background-color: purple;
    margin: 10px;
}
.container2 {
    margin-top: 5px;
    background-color: salmon;
    width: auto;
    display: flex;
    flex-direction: row;
    border: 3px solid blue;
    position: relative;
    align-items: initial;
    margin: auto;
    margin-top: 30px;
}